* {
  font-family: "Century Gothic", Futura, sans-serif;
}
body {
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.blank_square, .rollagainSquare, .eventSquare, 
.placeSquare, .holidaySquare, .peopleSquare, .hubSquare {
  border: 1px solid white;
  float: left;
  font-size: 18px;
  line-height: 37px;
  height: 37px;
  width: 37px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.rollagainSquare {
  background: khaki;
}
.hubSquare {
  background: coral;
}
.eventSquare{
  background: #ddd;
}
.placeSquare {
  background: steelblue;
}
.holidaySquare{
  background: olivedrab;
}
.peopleSquare {
  background: firebrick;
}
.blank_square {
  background: #fff;
  border: none;
}

/* Game */
.game {
  width: 400px;
  margin: 0 auto;
}

.game-info {
}


/* Buttons */
.local-button {
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-size: 12px !important;
  letter-spacing: 0.4px !important;
}

.local-button.local-button--primary {
  background-color: #4681b4 !important;
}

.local-button.local-button--secondary {
  background-color: #f77e51 !important;
}