body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

button {
  padding: 5px 0 2px 0;
  padding-top: 5px;
  margin-top: 5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square1, .square2, .blank_square,
.rollagainSquare, .eventSquare, .placeSquare, 
.holidaySquare, .peopleSquare, .hubSquare {
  border: none;
  float: left;
  font-size: 24px;
  line-height: 52px;
  height: 52px;
  width: 52px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.rollagainSquare {
  background: khaki;
}
.hubSquare {
  background: coral;
}
.eventSquare{
  background: #ddd;
}
.placeSquare {
  background: steelblue;
}
.holidaySquare{
  background: olivedrab;
}
.peopleSquare {
  background: firebrick;
}
.square1 {
  background: #ddd;
}

.square2 {
  background: #bbb;
}

.blank_square {
  background: #fff;
}

.game-info {
  margin-top: 40px;
}
